body{
    background-color: rgb(32, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.box {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 15px #000 inset;

}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top:4px solid #00aaff;
    border-radius: 50%;
    animation-name: spinAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes spinAnimation{
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}