* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.container {
    position: relative;
    height: 400px;
    width: 800px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box1 {
    height:25px;
    width: 700px;
    background-color: rgb(80, 83, 80);  
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    display: flex;  
}
.boxes1{
    height: 100%;
    width: 30%;
    background-color: green;
    border-radius: 50px 0 0 50px;
}
.box2 {
    height: 25px;
    width: 700px;
    background-color: rgb(80, 83, 80);  
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
}
.boxes2{
    height: 100%;
    width: 40%;
    background-color: orange;
    border-radius: 50px 0 0 50px;
}
.box3 {
    height: 25px;
    width: 700px;
    background-color: rgb(80, 83, 80);  
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
}
.boxes3{
    height: 100%;
    width: 50%;
    background-color: pink;
    border-radius: 50px 0 0 50px;
}